---
import { Image } from "astro:assets";

const { src, name, role } = Astro.props;

interface Props {
  src: string;
  name: string;
  role: string;
}
---

<div class="bg-white shadow-lg rounded-lg overflow-hidden">
  <Image
    src={src}
    alt={name}
    class="w-full h-auto"
    width={480}
    height={480}
  />
  <div class="p-6">
    <h3 class="text-xl font-semibold text-gray-900 mb-2">{name}</h3>
    <p class="text-gray-70">{role}</p>
  </div>
</div>
