---
import { capitalize } from "../utils";

const { tag, index } = Astro.props;

interface Props {
  tag: string;
  index: number;
}
---

<span
  class={`px-2 py-1 text-white rounded-full text-xs hover:opacity-90 ${
    index % 2 === 0 ? "bg-green-500" : "bg-indigo-500"
  }`}
>
  <a href={"/articles/tag/" + tag}>
    {"#" + capitalize(tag)}
</a>
</span>
